<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.syrnnik.geometryrush">

    <application
        android:allowBackup="true"
        android:icon="@drawable/geometry_rush_logo_release"
        android:label="@string/app_name"
        android:roundIcon="@drawable/geometry_rush_logo_release"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
<!--        <activity android:name=".detailsActivity" />-->
<!--        <activity android:name=".FigureSpacesActivity" />-->
        <activity android:name=".FiguresTypesActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FigureSettingsActivity" />
        <activity android:name=".CountingActivity" />
    </application>

</manifest>